beautifulsoup4==4.12.2
chardet==5.2.0
deepdiff==6.3.1
defusedxml==0.7.1
puremagic==1.15
# ordered-set==4.1.0 # Installed as dependency for deepdiff
# soupsieve==2.4.1 # Installed as dependency for beautifulsoup4
