chardet==5.1.0
pip-autoremove==0.10.0
pip-chill==1.0.3
puremagic==1.15
pytest-cov==4.1.0
# coverage==7.2.5 # Installed as dependency for pytest-cov
# iniconfig==2.0.0 # Installed as dependency for pytest
# packaging==23.1 # Installed as dependency for pytest
# pluggy==1.0.0 # Installed as dependency for pytest
# pytest==7.3.1 # Installed as dependency for pytest-cov
